<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styleClima.css">
    <link rel="stylesheet" href="../../styles.css">
    <title>Clima</title>
</head>

<body>

    <header>
        <a href="/index.html">
            <img src="../assets/imgIcon/cohete.png" alt="GoHome" class="cohete" />
            <h2>GO HOME</h2>
        </a>
    </header>
    <main>
        <div class="container-Time" id="container-Time">
        </div>
    </main>
    <footer class="footer2">
        <nav class="nav2">
            <a href="./hora.html" target="_blank"><img src="../assets/imgIcon/reloj.png" alt="Reloj" /></a>
            <a href="./password.html" target="_blank"><img src="../assets/imgIcon/candado.png" alt="candado" /></a>
            <a href="./enlaces.html" target="_blank"><img src="../assets/imgIcon/enlace.png" alt="enlace" /></a>
            <a href="./clima.html" target="_blank"><img src="../assets/imgIcon/nube.png" alt="Clima" /></a>
        </nav>
    </footer>
    </div>
    <script src="../js/clima.js"></script>
    <script src="../js/scriptRandom.js"></script>
</body>

</html>