<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/stylePassword.css">
    <link rel="stylesheet" href="/styles.css">
    <title>Crea tu contraseña</title>
</head>
<body>
    <header>
        <a href="/index.html">
            <img src="../assets/imgIcon/cohete.png" alt="GoHome" class="cohete"/>
            <h2>GO HOME</h2>
        </a>
    </header>
    <main>
     <div class="contenedorPassword">
        <div class="titlePassword">
            <h2>Crea tu contraseña segura</h2>
            <img src="../assets/imgIcon/candado.png" alt="candado" class="candado">
        </div>
            <section class="inputPassword">
                <label for="caracteres">Número de caracteres de la contraseña</label>
                <input type="number" id="caracteres" value="12" min="12" max="50">
                <button id="buttonPassword" class="buttonPassword">Generar Contraseña</button>
                <div id="contraseñaGenerada" class="contraseñaGenerada">
                   
                </div>
            </section>
        </div>
    </main>

    <footer class="footer2">
        <nav class="nav2">
            <a href="./hora.html" target="_blank"><img src="../assets/imgIcon/reloj.png" alt="Reloj"/></a>
            <a href="./password.html" target="_blank"><img src="../assets/imgIcon/candado.png" alt="candado"/></a>
            <a href="./enlaces.html" target="_blank"><img src="../assets/imgIcon/enlace.png" alt="enlace"/></a>
            <a href="./clima.html" target="_blank"><img src="../assets/imgIcon/nube.png" alt="Clima"/></a>
        </nav>
    </footer>  
</div>
<script src="../js/password.js"></script>
<script src="../js/scriptRandom.js"></script>
</body>
</html>