html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------ DESDE AQUÍ ------ */


html, body {
    height: 100%;
    width: 100%;
    }

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: background-image;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    height: 100vh;
    width: 100%;
    transition: all 1s ease-out;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*flex-grow: 1;*/
}

.container-Time {
    padding: 20px;
    max-width: 450px;
    color: #f4f4f4;
    border-radius: 15px;
    background-color: #33333393;

  }
  
.temp img {
    width: 20px;
    filter: invert();
}

.yellow {
    color: #ffe5c1;
}

.divTemp {
    display: flex;
    justify-content: space-around;
    height: 80px;
}
.divTemp .celsius {
    width: 32px;
}

.temp {
    display: flex;
    align-items: center;
}

.tempNum {
    font-size: 50px;
	color: #ffffffef;
}

.temp2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #ffffffb0;
}

.time-Hours {
    display: flex;
    overflow: scroll;
    padding: 5px;

}
